body {
    background-color: rgb(238, 75, 11);
    border-radius: 20px;
}

input {
    margin: 5px;
    border-style: double;
    border-radius: 20px;
    border-width: 4px;
    font-size: 20px;
    background-color: rgb(48, 51, 50);
    align-items: center;
}

button {
    margin: 1%;
    border-style: solid;
    background-color: black;
    border-radius: 10px;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

div {
    margin: 5vh;
    border: double black 4px;
    padding: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    max-width: 50%;
    border-radius: 20px;
    padding: 7px;
}